@font-face {
  font-family: 'nexa-light';
  src: local('nexa-light'), url(./fonts/nexa-light.otf) format('truetype');
}

@font-face {
  font-family: 'nexa-bold';
  src: local('nexa-bold'), url(./fonts/nexa-bold.otf) format('truetype');
}

@font-face {
  font-family: 'crimson-bold';
  src: local('crimson-bold'), url(./fonts/crimson-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'crimson-regular';
  src: local('crimson-regular'), url(./fonts/crimson-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'frutigue-regular';
  src: local('frutigue-regular'), url(./fonts/frutiger-neue-lt-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'frutigue-light';
  src: local('frutigue-light'), url(./fonts/frutiger-neue-lt-light.ttf) format('truetype');
}


body {
  margin: 0;
  cursor: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
