@font-face {
  font-family: 'nexa-light';
  src: local('nexa-light'), url(./fonts/nexa-light.otf) format('truetype');
}

@font-face {
  font-family: 'nexa-bold';
  src: local('nexa-bold'), url(./fonts/nexa-bold.otf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
